
body        { font-family: Verdana, Tahoma, Arial, Helvetica; font-size: 70%; color: #aaaaaa; }
td          { line-height: 10.5pt; font-family: Verdana, Tahoma, Arial, Helvetica; font-size: 70%; color: #aaaaaa; }
b           { color: #cccccc; font-weight: bold; }
p           { margin-top: 0.2em; margin-bottom: 1.0em; }
a           { color: #cccccc; }
a:hover     { color: #ffffff; }
h2          { color: #cccccc; font-weight: bold; font-size: 120%; margin-bottom: 5; }

input 
{ 
	color: #aaaaaa; 
	background: none; 
	font-family: Tahoma, Arial; 
	font-size: 100%; 
	border: 1px solid; 
	margin-top: 2; 
	margin-bottom: 2; 
	padding-left: 3; 
	padding-top: 2; 
	padding-bottom: 3;	
}

span.button 
{ 
	textAlign: center; 
	cursor: hand; 
	padding-left: 15;
	padding-right: 15; 
	border: 1px solid; 
	padding-top: 2;
    padding-bottom: 3; 
    height: 21; 
}
