html { -webkit-text-size-adjust: none; }
body { font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size: 12px; background-color: #fff; color: #333; line-height: 18px; margin: 18px; }
a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin-top: 3px; margin-bottom: 9px; }
h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 12px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 8px; }
h3 { font-weight: bold; font-size: 12px; line-height: 8px; margin-bottom: 8px;}
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }
.navigation { position: absolute; top: 18px; left: 18px; width: 175px; padding: 10px; background-color:#000; color:#fff; }
.content { width: 500px; margin-left: 215px; }
.datetime { font-size: 10px; color: #aaa; margin-bottom: 4px; }
.about { font-size: 10px; color: #aaa; margin-top: 5px; line-height: 16px; }
.about a { color: #eee; }
.toolbar a img { position: relative; float:left; }
.toolbar img { margin: 2px; }
.item { height: 160px;}
.screenshot { float: left; margin-right: 10px; }
